In [12]:
from pvlib.iotools import get_pvgis_hourly
from datetime import datetime

In [16]:

# Create datetime objects for the start and end dates
start_date = datetime(year=2005, month=1, day=1)
end_date = datetime(year=2005, month=1, day=1)

ddat, inp, meta = get_pvgis_hourly(
    latitude=18.53, 
    longitude=73.85,
    start=2005,
    end=2005,
    components=False,
    surface_tilt=33
)

In [19]:
ddat = ddat.tz_convert('Asia/Kolkata')
ddat.index = ddat.index.floor('h')

In [24]:
jan5 = ddat[(ddat.index.year == 2005) & (ddat.index.month == 1) & (ddat.index.day == 5)]

In [25]:
jan5

,poa_global,solar_elevation,temp_air,wind_speed,Int
time,,,,,
2005-01-05 00:00:00+05:30,0.00,0.00,21.88,2.84,0
2005-01-05 01:00:00+05:30,0.00,0.00,21.27,2.75,0
2005-01-05 02:00:00+05:30,0.00,0.00,20.67,2.66,0
2005-01-05 03:00:00+05:30,0.00,0.00,20.16,2.79,0
2005-01-05 04:00:00+05:30,0.00,0.00,19.66,2.91,0
2005-01-05 05:00:00+05:30,0.00,0.00,19.15,3.03,0
2005-01-05 06:00:00+05:30,0.00,0.00,19.69,3.11,0
2005-01-05 07:00:00+05:30,0.00,1.08,20.23,3.18,1
2005-01-05 08:00:00+05:30,305.38,13.75,20.77,3.26,0
2005-01-05 09:00:00+05:30,594.70,25.59,23.44,3.23,0
2005-01-05 10:00:00+05:30,807.63,36.04,26.11,3.21,0
2005-01-05 11:00:00+05:30,962.40,44.14,28.78,3.19,0
2005-01-05 12:00:00+05:30,1039.07,48.47,29.52,2.52,0
2005-01-05 13:00:00+05:30,1024.91,47.86,30.27,1.86,0
2005-01-05 14:00:00+05:30,964.05,42.50,31.01,1.20,0
2005-01-05 15:00:00+05:30,778.16,33.73,30.48,0.98,0
2005-01-05 16:00:00+05:30,540.24,22.88,29.94,0.76,0
2005-01-05 17:00:00+05:30,250.49,10.80,29.40,0.54,0
2005-01-05 18:00:00+05:30,0.00,0.00,28.15,0.80,0
2005-01-05 19:00:00+05:30,0.00,0.00,26.90,1.05,0
2005-01-05 20:00:00+05:30,0.00,0.00,25.65,1.31,0
2005-01-05 21:00:00+05:30,0.00,0.00,24.75,1.51,0
2005-01-05 22:00:00+05:30,0.00,0.00,23.84,1.71,0
2005-01-05 23:00:00+05:30,0.00,0.00,22.93,1.90,0